*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
.calculator{
  padding: 3rem;
  background-color: rgb(56, 54, 54);
  border-radius: 10px;
}
.calculator button{
  margin: 10px;
  height: 60px;
  width: 60px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s linear;
}
.calculator button:hover{
  background-color: transparent;
  color: white;
}
form .cont-1{
  display: flex;

}
.cont-1 input{
  flex: 1;
  color: blue;
  padding: 1.5rem;
  outline: none;
  font-size: 23px;
  text-align: right;
}
.white-Btn{
  background-color: yellow;

} 
